<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindGarage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9C2A90C1F02883C00C6BCF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C2A9201F02883D00C6BCF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C2A92B1F02883D00C6BCF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
